body{
font-family: helvetica,arial,"lucida grande",sans-serif;
font-size:12px;
}
.kotak-bawah{
position:fixed;
bottom:0;
}
.box{
width:260px;
background-color:#e9eaed;
border:0.1px solid #abb2c1;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
float:left;
margin-left:5px;
}
.tampil{
display:block;
}
.box-atas{
height:28px;
width:260px;
background-color:#4E69A2;
border:1px solid #2e4588;
position:relative;
cursor:pointer;
}
.nama{
color: #FFF;
margin: 4px 7px 4px;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}
.pilihan{
position:absolute;
right:5px;
color:#fff;
top:0px;
font-size:15px;
}
.pilihan span{
margin-left:5px;
}
.box-chat{
width:260px;
height:230px;
color:#000;
border-bottom:1px solid #abb2c1;
overflow-x: hidden;
overflow-y: auto;
}
.box-chat:after{
clear:both;
}
.lchat{
padding-left: 6px;
padding-right: 5px;
word-wrap:break-word;
position: relative;
margin-left: 6px;
min-height: 14px;
min-width: 0px;
padding-bottom: 3px;
padding-top: 4px;
opacity: 1;
transition: opacity 0.1s ease-in 0s;
border-color: rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.29);
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
border-radius: 4px;
box-shadow: 0px 1px 0px #DCE0E6;
color: #373E4D;
min-height: 22px;
min-width: 14px;
position: relative;
text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
white-space: pre-wrap;
word-wrap: break-word;
border-width: 1px;
border-style: solid;
line-height: 1.28;
text-align: left;
max-width:171px;
background-image: -moz-linear-gradient(center bottom , #fff, #fff);
background-color: #DBEDFE;
margin-bottom:5px;
float:left;
}
.lchat::before {
background-image: -moz-linear-gradient(center bottom , #fff, #fff);
background-color: #DBEDFE;
}
.rchat{
padding-left: 6px;
padding-right: 5px;
word-wrap:break-word;
position: relative;
margin-left: 6px;
min-height: 14px;
min-width: 0px;
padding-bottom: 3px;
padding-top: 4px;
opacity: 1;
transition: opacity 0.1s ease-in 0s;
border-color: rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.29);
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
border-radius: 4px;
box-shadow: 0px 1px 0px #DCE0E6;
color: #373E4D;
min-height: 22px;
min-width: 14px;
position: relative;
text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
white-space: pre-wrap;
word-wrap: break-word;
border-width: 1px;
border-style: solid;
line-height: 1.28;
text-align: left;
max-width:171px;
background-image: -moz-linear-gradient(center bottom , #C7DEFE, #E7F1FE);
background-color: #DBEDFE;
margin-bottom:5px;
float:right;
}
.rchat::before {
background-image: -moz-linear-gradient(center bottom , #C7DEFE, #E7F1FE);
background-color: #DBEDFE;
}
.box-send{
background-color:#fff;
width:260px;
height:23px;
overflow-x: hidden;
overflow-y: auto;
}
textarea {
max-width: 100%;
font-family: helvetica,arial,"lucida grande",sans-serif;
}
._552m {
    border: 0px none;
    display: block;
    height: 0px;
    margin: 0px;
    min-height: 16px;
    outline: medium none;
    padding: 0px;
    resize: none;
    width: 100%;
}
.pesan{
border-top: 1px solid #C9D0DA;
cursor: text;
max-height: 77px;
min-height: 16px;
overflow-x: hidden;
overflow-y: auto;
padding: 5px 5px 3px 5px;
position: relative;
font-size:11.5px;
border-top-width: 0px;
padding-bottom: 4px;
padding-top: 7px;
}
.alert-chat{
position:absolute;
top:-15px;
padding:5px;
right:30px;
background-color:#c20;
color:#fff;
border-radius:0 0 15px 15px;
}
.clear{
clear:both;
}
.kiri,.kanan{
float:left;
}
.kiri{
width:82%;
}
.kanan{
width:18%;
height:100%;
}
.pd10{
padding:10px;
}
.bl{
border-left:1px solid #626262;
}
.teman{
list-style:none;
margin:0;
padding:0;
}
.teman li{
padding:5px;
}
.teman li img{
float:left;
margin:5px;
}
.teman li a{
float:left;
line-height:35px;
text-decoration:none;
cursor:pointer;
}
